@import '../../../styles/colours.scss';

.event-info {
    background-color: $light-grey;
    color:$dark-grey;
    padding: 1em;
    margin: 1em;
    // min-width: 350px;
    // width: 30%;
    // max-width: 800px;
    height: auto;
    min-height: 180px;
    transition: 0.2s ease-out;
    .tag {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 2px;
        margin-right: 5px;
        margin-bottom: 5px;
        border: 1px $munco-blue solid;
        border-radius: 15px;
        p { 
            font-size: 12px;
            margin-bottom: 0px !important; }
    }
}

.event-info:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.more-margin {
    padding-bottom: 1em;
}

.AllEventsLink {
    padding-top: 60px;
    padding-left: 30px;
    text-align: left !important;
}