@import "../../styles//colours.scss";

.singleBlogLink {
  .featured-image {
    margin-right: 1em;
    .vertical {
      img {
        object-fit: cover;
        width: 300px;
        height: 350px;
      }
    }

    .horizontal {
      img {
        object-fit: cover;
        width: 350px;
        height: 400px;
      }
    }
  }
  .textbox-horizontal {
    margin-right: 1em;
    display: inline-block;
    width: 300px;
    height: 350px;
    border: solid $light-grey 1px;
    padding: 1em;
  }
  .textbox-vertical {
    margin-right: 1em;
    display: block;
    width: 300px;
    height: auto;
    border: solid $light-grey 1px;
    padding: 1em;
  }
}
