@import "../../styles//colours.scss";

.singleBlogLink {
  padding-bottom: 1em;
  .featured-image {
    margin-right: 1em;
    .vertical {
      img {
        object-fit: cover;
        width: 300px;
        height: 350px;
      }
    }
    .horizontal {
      img {
        object-fit: cover;
        width: 200px;
        height: 250px;
      }
    }
  }
  .textbox-horizontal {
    margin-right: 1em;
    display: inline-block;
    max-width: 300px;
    height: 250px;
    border: solid $light-grey 1px;
    padding: 1em;
  }
  .textbox-vertical {
    margin-right: 1em;
    display: block;
    max-width: 300px;
    height: auto;
    border: solid $light-grey 1px;
    padding: 1em;
  }
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}