@import "../../styles//colours.scss";

.singleBlogLink {
  padding-bottom: 1em;
  .featured-image {
    margin-right: 1em;
    .vertical {
      img {
        object-fit: cover;
        width: 300px;
        height: 350px;
      }
    }
    .horizontal {
      img {
        object-fit: cover;
        width: 200px;
        height: 250px;
      }
    }
  }
  .textbox-horizontal {
    background-color: white;
    margin-right: 1em;
    display: inline-block;
    max-width: 300px;
    height: 250px;
    border: solid $light-grey 1px;
    padding: 1em;
    transition: 0.2s ease-out;
  }
  .textbox-vertical {
    background-color: white;
    margin-right: 1em;
    display: block;
    max-width: 300px;
    height: auto;
    border: solid $light-grey 1px;
    padding: 1em;
    transition: 0.2s ease-out;
  }
  .read-more-btn {
    float: right;
    position: absolute;
    padding: 0.2em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    text-align: center;
    color: white;
    background-color: $munco-blue;
    border-radius: 50px;
  }
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.textbox-horizontal:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textbox-vertical:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}