@import "../../styles/colours.scss";

#About {
  text-align: left;
  color: $dark-grey;
  .logo {
    z-index: 999999999999999;
    position: absolute;
    padding-left: 0.9em;
    padding-top: 0.6em;
    max-width: 120px;
    width: 10vw;
  }
  .full-page {
    min-height: 50vh;
    color: black;
    .container {
      padding-left: 10vw;
      padding-right: 10vw;
      .quote-banner {
        margin-top: 15px;
        margin-bottom: 5vh;
        border: solid 2px $munco-gold;
        padding-left: 3em;
        padding-right: 3em;
        text-align: center;
        .quotation {
          height: 2em;
          margin: 0.75em;
        }
        .quote {
          padding-bottom: 3em;
        }
      }
      .person-box {
        padding: 10px;
        height: auto;
        text-align: center;
        .portrait {
          .portrait-circle {
            z-index: -9990000000000;
            .portrait-img {
              height: 100%;
              width: 100%;
              max-width: 165px;
              min-width: 100px;
              object-fit: cover;
              border-radius: 100%;
            }
            .overlay {
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(255, 255, 255, 0.15);
              transition: 0.2s ease-in-out;
            }
            .overlay:hover {
              display: hidden;
              background-color: transparent !important;
            }
          }
        }
        .name {
          margin-top: 0.5em;
        }
        .position {
          font-size: 14px;
          line-height: 0px !important;
          margin: 0px !important;
          padding: 0px !important;
        }
        .description {
          margin-top: 15px;
          color: $neutral-grey;
        }
      }
      .projects {
        color: grey;
        margin-bottom: 2em;
        .grey-box-main {
          text-align: left;
          background-color: $light-grey;
          padding: 10px;
          padding-top: 1em;
          padding-bottom: 1em;
          margin-bottom: 0.5em;
        }
        .grey-box {
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          text-align: left;
          background-color: $light-grey;
          .status-symbol-yellow {
            display: inline-block;
            background-color:$munco-gold;
            margin-right: 10px;
            width: 13px;
            height: 13px;
            border-radius: 100%;
          }
          .status-symbol-grey {
            display: inline-block;
            background-color: grey;
            margin-right: 10px;
            width: 13px;
            height: 13px;
            border-radius: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  #About {
    .logo {
      visibility: hidden;
    }
    .full-page {
      .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
        .person-box {
          .portrait {
            .portrait-img {
              width: 30%;
              object-fit: cover;
              border-radius: 100%;
            }
          }
        }
      }
    }
  }
}
