$black: black;
$dark-grey: #404040;
$neutral-grey: #6d6d6d;
$light-grey: #f4f4f4;

$munco-gold: #fbae18;
$munco-blue: #1a87be;
$munco-green: #0db08c;

$gold-overlay: linear-gradient(134.6deg, rgba(251, 174, 24, 0.7) 0%, rgba(172, 122, 24, 0.7) 110.74%);
$black-overlay: linear-gradient(0deg, rgba(86, 86, 86, 0.56), rgba(86, 86, 86, 0.56));
$blue-overlay: linear-gradient(180deg, rgba(26, 135, 190, 0.7) 0%, rgba(72, 134, 166, 0.7) 100%);
$green-overlay: linear-gradient(134.6deg, rgba(13, 176, 140, 0.7) 0%, rgba(0, 80, 62, 0.7) 110.74%);
