@import "./animations.scss";
@import "./colours.scss";
@import "./typography.scss";

// start with a CSS reset; avoid browser auto-formatting
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  .container {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
