@import '../../styles/colours.scss';

#Navigation {
  position: fixed;
  z-index: 99999999;
  width: 100%;
  justify-content: space-between;
  background-color: none;
  transition: 0.25s ease-in;
  div,
  ul,
  li {
    display: inline-block;
  }
  #nav-logo {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
  }
  li,
  a {
    padding-right: 1em;
    color: $dark-grey;
    animation-fill-mode: forwards;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }

  #nav-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $light-grey;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    animation-fill-mode: forwards;

    .main-nav-links {
      position: absolute;
      padding-top: 30vh;
      z-index: 99999999;
      h1, h2, h3, h4, h5, h6 {
        display: inline-block;
        padding: 15px;
      }
    }
    .social-media-links {
      z-index: 99999;
      position: absolute;
      padding-top: 80vh;
    }
    
  }
  .slideIn {
    -webkit-animation-name: slideInDown;
    -webkit-animation-duration: 0.2s;
    animation-name: slideInDown;
    animation-duration: 0.2s;
  }

  .slideOut {
    -webkit-animation-name: slideOutUp;
    -webkit-animation-duration: 0.2s;
    animation-name: slideOutUp;
    animation-duration: 0.2s;
  }

  .fadeIn {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.7s;
    animation-name: fadeIn;
    animation-duration: 0.7s;
  }

  .btn-nav {
    background-color: $munco-gold;
    width: 3em;
    height: 3em;
    padding-left: 0.9em;
    padding-top: 0.6em;
    img {
      width: 1.3em;
    }
  }
  .logo {
    padding-left: 0.9em;
    padding-top: 0.6em;
    width: 120px;
  }
}

@media only screen and (max-width: 1000px) {
  ul,
  li {
    display: block;
    width: 100%;
  }
  .main-nav-links {
    padding-left: 2em;
    padding-top: 15vh !important;
  }
}