@import "../../styles//colours.scss";

.blogPost {
    .split-screen {
        height: auto !important;
    }
  .fixed-cover {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -99999;
    background-color: $light-grey;
    .featured-img {
      position: sticky;
      top: 0;
      img {
        object-position: 50% 50%;
        min-width: 400px;
        height: 100vh;
        object-fit: cover;
      }
    }
  }
  .read-content {
    background-color: white;
    padding: 3em;
    padding-top: 5em;
    padding-bottom: 5em;
    .post-title {
        margin-top: 20vh;
        margin-bottom: 10vh;
      padding-bottom: 4em;
    }
    .post-content {
      max-width: 720px;
      margin-left: 10vw;
    }
  }
}


@media only screen and (max-width:766px) {
    .read-content {
        .post-title {
            margin-top: 0px !important;
        }
    }
}

// @media only screen and (max-width:600px) {
//   .featured-img {
//     img {
//       width: 100% !important;
//       height: auto !important;
//     }
//   }
// }