@import "../../styles//colours.scss";

.blogPost {
  .split-screen {
    height: auto !important;
  }
  .fixed-cover {
    position: relative;
    width: 50%;
    height: 100%;
    z-index: -99999;
    background-color: white;
    .featured-img {
      position: sticky;
      top: 0;
      img {
        object-position: center center; // not quite working
        width: auto;
        min-width: 200px;
        height: 100vh;
        object-fit: cover;
      }
    }
  }
  .read-content {
    background-color: white;
    padding: 3em;
    padding-top: 5em;
    padding-bottom: 5em;
    .post-title {
      margin-top: 20vh;
      margin-bottom: 10vh;
      padding-bottom: 4em;
    }
    .post-content {
      max-width: 720px;
      margin-left: 6vw;
      margin-right: 4vw;
    }
  }
  .other-buttons {
    background-color: $light-grey;
    height: 10vh;
    min-height: 65px;
    .div-btn {
      padding-top: 4vh;
      width: 100%;
      text-align: center;
    }
    .left-btn {
      background-color: grey;
      color: white;
    }
    .right-btn {
      border-left: 1px $munco-gold solid;
      background-color: $munco-gold;
    }
  }
}

@media only screen and (max-width: 766px) {
  .split-screen {
    min-height: 10vh !important;
    .fixed-cover {
      height: 70vh;
      .featured-img {
        img {
          height: auto !important;
          width: 100vw !important;
        }
      }
    }
  }
  .read-content {
    .post-title {
      margin-top: 0px !important;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .div-btn {
    h3 {
      font-size: 16px !important;
    }
  }
}

// @media only screen and (max-width:600px) {
//   .featured-img {
//     img {
//       width: 100% !important;
//       height: auto !important;
//     }
//   }
// }
